<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .footer{
            background-color: #444444;
            color: #00d1cd;
            width: 100%;
            height: 10%;
        }
    </style>
</head>
<body>
    <div class="card footer" id="contact">
        <div class="card-header">
          Contact
        </div>
        <div class="card-body" style="width: 100%;">
          <div class="blockquote" style="width: 100%; display: flex; justify-content: space-around;" >
            <div>Phone: 7003844493</div>
            <div>Email: tanishqkochar73@gmail.com</div>
          </div>
        </div>
    </div>
</body>
</html>